header {
    /* Grid setup */
    display:grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows:1fr;

    background-color: #283618;
    color: #fefae0;

    align-items:center;
    justify-content:center;

    font-size: 1rem;

    border-radius: 0 0 10px 10px;

}


#project-name {
    /* Grid Placement */
    grid-column-start: 2;
    grid-column-end: 3;

    text-align:center;
}

#drop-down-menu {
    /* Grid Placement */
    grid-column-start: 1;
    grid-column-end: 2;

    width: 100%;
    height: 100%;
    

    display:flex;
    flex-direction:column;
    position: relative;
    align-items:center;
    justify-content:center;

}

#drop-down-menu button {
    width: 100%;
    height: 100%;

    background-color: #606c38;
    color: #fefae0;

    border: none;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid black;

    cursor:pointer;
}

#drop-down-menu-open {
    position: absolute;
    top: 100%;
    right: 0;

    /* height:100%; */
    width:100%;
    background-color: #606c38;
}


#drop-down-menu-open ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

#drop-down-menu-open ul li {
    height: 30px;
    width: 100%;

    display: flex;
    align-items:center;
    justify-content:center;
}

#drop-down-menu-open ul li:hover {
   background-color:#283618;
}

#drop-down-menu-open ul li a {
   color: #fefae0;
   text-decoration: none;
}